.footer-container {
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content .logo {
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
